html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // background-color: #eceded;

}

.wallpaper {
  display: none;
  @include for-tablet-landscape-up {
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    background-image: url('../../assets/rapoesie.png');
    background-size: cover;
    filter: blur(5px) grayscale(100%);
    
}
}

#content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  
}

.counter {
  // border: red solid 1px;
  font-family: 'open_sanscondensed_light';
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 30px;
}

.curtain {
  background-color: #000000;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.curtain .menu {
  opacity: 0;
}

.menu a {
  color: white;
  font-weight: bold;
  font-family: var(--text-headings);
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}