html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #eceded;
}

#content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}

.counter {
  // border: red solid 1px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 30px;
}

.curtain {
  background-color: #000000;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.curtain .menu {
  opacity: 0;
}

.menu a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  letter-spacing: -2px;
}