html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // background-color: #eceded;

}

.wallpaper {
  display: none;
  @include for-tablet-landscape-up {
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    background-image: url('./../../assets/rapoesie.png');
    background-size: cover;
    background-position: center;
    filter: blur(8px) grayscale(100%);
    
}
}

#content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  // background-color: rgba($color: #fff, $alpha: 0.1);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  background: rgb(255,255,255);
  // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 50px, rgba(255,255,255,0) 72px);
  // background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
  
}

.counter {
  // border: red solid 1px;
  font-family: 'open_sanscondensed_light';
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 24px;
  font-weight: 200;
  margin-top: 100px;
  margin-bottom: 30px;
  @include for-tablet-landscape-up {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}

.rules-curtain {
  background-color: #fff;
  width: 100%;
  height: 0;
  position: fixed;
  // bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: height .5s ease-in;

  &.open {
    height: 100%;
  }
}


.rules-content {
  opacity: 0;
  color: rgba($color: #000000, $alpha: 0.8);
  margin: 0 5vw;
  font-family: var(--text-body);
}

.curtain {
  background-color: #000000;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.curtain .menu {
  opacity: 0;
}

.menu a {
  color: white;
  font-weight: bold;
  font-family: var(--text-headings);
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}