html, body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // background-color: #eceded;

}

.wallpaper {
  display: none;
  @include for-tablet-landscape-up {
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    // background-image: url('./../../assets/rapoesie.png');
    background-image: url('https://robinverona.github.io/rap-ou-poesie/assets/rapoesie.png'); // for github pages only
    background-size: cover;
    background-position: center;
    filter: blur(8px) grayscale(100%);
    
}
}

#content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background: rgb(255,255,255);
  // background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 50px, rgba(255,255,255,0) 72px);
  // background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
  
}

.counter {
  font-family: 'open_sanscondensed_light';
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 24px;
  font-weight: 200;
  margin-top: 100px;
  margin-bottom: 30px;
  @include for-tablet-landscape-up {
    margin-top: 80px;
    margin-bottom: 30px;
  }
}

.rules-curtain {
  background-color: #fff;
  width: 100%;
  height: 0;
  position: fixed;
  // bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: height .5s ease-in;

  .logo {
    display: none;
  }

  @include for-tablet-landscape-up {
    
    .logo {
      display: block;
    }
  }

  &.open {
    height: 100%;

    & .rules-content {
      opacity: 1;
    }
  }
}


.rules-content {
  opacity: 0;
  color: rgba($color: #000000, $alpha: 0.8);
  margin: 0 5vw;
  font-family: var(--text-body);
  width: 90%;
  max-width: 1000px;
  margin: 5rem auto 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -1px;

  @include for-tablet-landscape-up {
    h1 {
      margin: 2rem 1rem;
      font-size: 4.375rem;

    }
  }

  & h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem 1rem;
    // margin-bottom: 0;
    text-transform: uppercase;
  }

  & p {
    width: 75%;
    font-size: 1.2rem;
    line-height: 140%;
    margin: 1rem auto;
  }
}


.curtain {
  background-color: #000000;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.curtain .menu {
  opacity: 0;
}

.menu {
  color: white;
  font-weight: bold;
  font-family: var(--text-headings);
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // & #menuText {

  // }
}

.logo {
  width: 80px;
  height: 80px;
}

