.masthead {
    position: sticky;
    height: 72px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 2.5vw;
    z-index: 99;
    // margin-bottom: 30px;
    // background-color: var(--color-bg);
    // @include for-tablet-landscape-up {
    //     background-color: transparent;
    // }
    // border: black solid 1px;
    width: 100vw;
}

.brand, .rules {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -3px;
    text-decoration: none;
    color: rgba($color: #000000, $alpha: 0.8);
}

.brand {
    margin-left: 5vw;
}

.rules {
    margin-right: 5vw;
}



// button {
//     background-color: transparent;
//     outline: 0;
//     border: 0;
// }

// .who {
//     font-family: var(--text-headings);
//     color: var(--color-on-bg);
// }

// @include for-tablet-landscape-up {
//     .who {
//         transition: transform 0.4s ease;
//         cursor: pointer;
//     }
    
//     .who:hover {
//         transform: rotate(30deg);
//     }
// }