.controls {
    margin-top: 30px;
    padding-bottom: 60px;
    opacity: 0;
}

.controls button {
    background-color: transparent;
    border: 0;
    color: rgba($color: #000000, $alpha: 0.8);
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-family: var(--text-headings);
    text-transform: uppercase;
    font-size: 17px;
    line-height: 20px;
    border-radius: 50%;
    // border: 1.5px solid rgba($color: #000000, $alpha: 0.4);
    letter-spacing: -1px;
    margin: 0 15px;
    cursor: pointer;

    // @include for-tablet-landscape-up {
        transition: transform 300ms ease-in-out 0s;
        position: relative;

        & img {
            position: absolute;
            width: 100px;
            height: 100px;
            top: 0;
            left: 0;
            -webkit-animation: spin 20s linear infinite;
            -moz-animation: spin 20s linear infinite;
            animation: spin 20s linear infinite;
            transition: all 500ms ease-in-out 0s;
            @include for-tablet-landscape-up {
                &:hover {
                    // transform: scale(1.3);
                }
            
            }
        }

        @include for-tablet-landscape-up {
            &:hover {
                transform: scale(1.2);
                animation-duration: 10s;
            }
        
        }

}

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    100%{-moz-transform: rotate(360deg);}
}

@keyframes spin {
    100%{transform: rotate(360deg);}
}