.controls {
    margin-top: 30px;
    padding-bottom: 60px;
    opacity: 0;
}

button {
    background-color: transparent;
    border: 0;
    color: rgba($color: #000000, $alpha: 0.8);
    width: 100px;
    height: 100px;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 21px;
    border-radius: 50%;
    border: 1.5px solid rgba($color: #000000, $alpha: 0.4);
}