.card-deck {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // flex-direction: column-reverse;
}

.card {
    // background-color: transparent;
    width: 350px;
    height: 450px;
    perspective: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    transform-origin: 50% 99%;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }

.card.translated .card-inner {
    transform: rotateY(-180deg);
  }
  
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front {
    background-color: white;
    color: rgba(0,0,0,0.8);
    // position: relative;
}

.card-front::before {
    background: linear-gradient(0% transparent, 50% transparent, 51% rgba(0, 0, 0, 0.8), 100% rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    outline: solid 1px red;
}

.card-text {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -3px;
    margin: 0 2rem;
    max-width: 90%;
}

.card-back {
    background-color: white;
    color: rgba(0,0,0,0.8);
    transform: rotateY(-180deg);
}

.card-author, .card-origin {
    max-width: 90%;
    margin: 0 2rem;
}

.card-author {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -3px;
}

.card-origin {
    font-size: 31px;
    font-weight: lighter;
    letter-spacing: -3px;
}

.purple {
    background-color: #7064a5;
}

.yellow {
    background-color: #dfd356;
}

.grey {
    background-color: #a3a3a3;
}

.skyblue {
    background-color: #4c8ec2;
}

.pink {
    background-color: #f98f84;
}

.green {
    background-color: #439a7c;
}

.blue {
    background-color: #547bbd;
}

.brown {
    background-color: #b78e68;
}



