.card-deck {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    // flex-direction: column-reverse;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); 
    position: fixed;
    top: 0;
    left: 0;
}

.card {
    background-color: transparent;
    width: 90vw;
    height: 400px;
    perspective: 1000px;
    font-family: var(--text-headings);
    transform-origin: 50% 99%;
    @include for-tablet-landscape-up {
        height: 600px;
        width: 400px;
        cursor: cursor;
        // border: red solid 1px;
    }

}

.card-inner {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

.card.translated .card-inner {
    transform: rotateY(-180deg);
  }

.card-front, .card-back, .card-front .glow {
    border-radius: 15px;
}
  
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front {
    background-color: white;
    color: rgba(0,0,0,0.8);
    // position: relative;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
}

// .card-front::before {
//     background: linear-gradient(0% transparent, 50% transparent, 51% rgba(0, 0, 0, 0.8), 100% rgba(0, 0, 0, 0));
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 3;
//     outline: solid 1px red;
// }

.card-text {
    font-size: 36px;
    font-weight: bold;
    margin: 0 2rem;
    max-width: 90%;
    letter-spacing: -1px;

}

.card-back {
    background-color: white;
    color: rgba(0,0,0,0.8);
    transform: rotateY(-180deg);
    background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card-author, .card-origin {
    max-width: 90%;
    margin: 0 2rem;
    text-align: center;
}

.card-author {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-origin {
    font-family: var(--text-body);
    font-size: 28px;
    font-weight: 400;
}

.purple {
    background-color: #7064a5;
}

.yellow {
    // background-color: #dfd356;
    background-color: #fed700;
}

.grey {
    background-color: #a3a3a3;
}

.skyblue {
    background-color: #4c8ec2;
}

.pink {
    background-color: #f98f84;
}

.green {
    background-color: #439a7c;
}

.blue {
    background-color: #547bbd;
}

.brown {
    background-color: #b78e68;
}

.orange {
    // background-color: #FEA347;
    background-color: #f77103;
}



.card-front:hover {
    transition-duration: 150ms;
    // box-shadow: 0 5px 20px 5px #00000044;
  }
  
  .card-front .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  }